@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
}

@keyframes lightening
{
    from
    {
        opacity: 1;
        box-shadow: 1px 1px 5px 3px rgb(219, 216, 216);
    }
    to
    {
        opacity: 0.80;
        box-shadow: 3px 3px 6px 4px rgb(219, 216, 216);
    }
}

@keyframes fill
{
    from
    {
        font-weight: 600;
    }
    to
    {
        font-weight: 600;
        background: linear-gradient(to top, #FF79DA, #9356DC);
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes spin
{
    to
    {
        transform: rotate(360deg)
    }
}

@keyframes loading
{
    from
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
        z-index: 1;
    }
    to
    {
        opacity: 0;
        z-index:-10;
    }
}

                     /* #warped {position: relative; display: block; width:588px; height:440px; right: 195px; bottom: 110px}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     transform-origin:50% 100%; }

                     #warped span{font-family:'Shrikhand';font-size:38px;font-style:normal;
                     line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 { transform: rotate(3.46rad); width: 29px; height: 25px; left:
                     231.47px; top: 337.1px;}

                     #warped .w1 { transform: rotate(3.67rad); width: 23px; height: 25px; left:
                     206.34px; top: 324.22px;}

                     #warped .w2 { transform: rotate(3.89rad); width: 32px; height: 25px; left:
                     175.84px; top: 304.83px;}

                     #warped .w3 { transform: rotate(4.09rad); width: 20px; height: 25px; left:
                     161.47px; top: 281.53px;}

                     #warped .w4 { transform: rotate(4.26rad); width: 20px; height: 25px; left:
                     148.81px; top: 260px;}

                     #warped .w5 { transform: rotate(4.44rad); width: 23px; height: 25px; left:
                     137.99px; top: 235.23px;}

                     #warped .w6 { transform: rotate(4.62rad); width: 23px; height: 25px; left:
                     133.04px; top: 207.72px;}

                     #warped .w7 { transform: rotate(4.81rad); width: 23px; height: 25px; left:
                     133.27px; top: 179.76px;} */


#loader
{
    animation: loading 1s ease-out 3s forwards;
    position: fixed;
    background: white;
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun
{
    animation: spin 4s infinite linear;
    width: 200px;
    height: 200px;
    background: linear-gradient(to top, #FF79DA,#e486e7, #fad586);
    border-radius: 100px;
    box-shadow: 1px 1px 15px 2px rgb(240, 168, 109);
}

header
{
    display: flex;
    justify-content: center;
}

a
{
    text-decoration: none;
    color: black;
}

.logo
{
    width: 45%;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 400px;
}
.localisation
{
    background-color: rgb(241, 241, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 6px 0px rgba(170, 170, 170, 0.41);
    margin-bottom: 0;
}

.localisation i
{
    position: relative;
    right: 25px;
}

.presentation
{
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(247, 247, 247);
    margin-bottom: 50px;
}

.presentation p
{
    margin-top: 0;
    color: rgb(110, 110, 110);
    font-size: 16px;
}

.presentation input
{
    color: white;
    border-radius: 40px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    height: 50px;
    max-width: 220px;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 5px 3px rgb(219, 216, 216);
}

input:hover
{
    animation: lightening 300ms forwards;
}

.fonctionnement
{
    margin-right: auto;
    margin-left: auto;
    max-width: 280px;
}

.fonctionnement_bulle
{
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgb(235, 234, 234);
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.fonctionnement_bulle:hover
{
    background-color:#f7eeff;
}

.fonctionnement_bulle:hover i
{
    color:#9356DC;
}

.fonctionnement_bulle p
{
    background-color: #9356DC;
    color: white;
    border-radius: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    height: 27px;
    align-items: center;
    margin-right: 4%;
    position: relative;
    right: 10px;
}

.fonctionnement_bulle i
{
    color: rgb(134, 134, 134);
    font-size: 20px;
    margin-right: 8%;
}

#fa-ellipsis-vertical
{
    margin: 0;
}

.restaurants
{
    margin-top: 65px;
    background-color: rgb(247, 247, 247);
}

.restaurants h2
{
    padding-top: 60px;
    padding-left: 20px;
}

figure
{
    margin: 20px;
    position: relative;
}

figure p
{
    font-size: 17px;
    color: rgb(70, 70, 70);
    margin-top: 5px;
}

.nouveau
{
    background-color: rgb(131, 231, 198);
    color: rgb(46, 107, 102);
    width: 80px;
    margin-top: 15px;
    position: absolute;
    left: 70%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    
}

h3
{
    margin: 7px;
    font-weight:500
}

figcaption
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 27px;
}

img
{
    object-fit: cover;
    width: 100%;
}

.bloc_restaurants
{
   margin-bottom: 70px;
}

.cartes_restaurants
{
	height: 260px;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 3px 3px 10px rgb(218, 206, 206);
}

.img_restaurants
{
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.txt_restaurants
{
    height: 75px;
	margin-left: 5%;
	font-size: 14px;
}

.cartes_restaurants h2
{
    padding: 0;
	font-size: 17px;
    margin-bottom: 0;
}

.cartes_restaurants i
{
    font-size: 24px;
}

.fa-heart:hover
{
    animation: fill 300ms forwards;
}

footer
{
    background-color: rgb(65, 65, 65);
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding-left: 27px;
    padding-bottom: 30px;
}

footer p
{
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: 500;
}

footer i
{
    margin-right: 10px;
}

footer a
{
    color: white;
}

.ohmyfood_footer
{
    font-family: 'Shrikhand', sans-serif;
    font-weight: lighter;
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: 19px;
}

.mentions_contact
{
    font-weight: lighter;
}

@media all and (min-width: 992px)
{

.presentation
{
    margin-bottom: 0;
}
.fonctionnement_restaurants
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

.fonctionnement
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 2500px;
    margin-right: 5%;
    margin-left: 5%;
}

.restaurants
{
    border-radius: 20px;
    margin-top: 20px;
}

.bloc_restaurants
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartes_restaurants
{
    max-width: 350px;
}

.titre_restaurants
{
    font-size: 32px;
}
}